body {
    display: grid;
    border: 1px;
    margin: 0px auto;
    width: 1024px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
#homebody{
    grid-template-areas: 
    "header-cell" 
    "nav-cell"
    "main-cell" 
    "footer-cell" ;
}
/*..............header style...............*/
header{
    grid-area: header-cell;
    height: 100px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 1px #ccc7c8;
    padding: 0px 5px;
    background-image: url("./TH_B2_Data/header.png");
}
.header-img1 {
    position: absolute;
    height: 100px;
    top: -30px;
    animation: moveImage1 3s forwards;
}
@keyframes moveImage1 {
    from {
        left:80%
    }
    to {
        left: 30%
    }
}

.header-img2{
    height: 70px;
    position: absolute;
    top: -5px;
    animation: moveImage2 3s forwards;
}
@keyframes moveImage2 {
    from {
        left:80%
    }
    to {
        left: 45%
    }
}

.header-img3{
    height: 80px;
    position: absolute;
    top: 0px;
    animation: moveImage3 3s forwards;
}
@keyframes moveImage3 {
    from {
        left:80%
    }
    to {
        left: 63%
    }
}
/*..............nav style...............*/
nav{
    width:1024px;
    display: flex;
    position: absolute;
    grid-area: nav-cell;
    top:65px;
    justify-content: space-between;
}
nav > div > a {
    height: 20px;
    float: left;
    margin: 3px;
    border: solid 1px #fff;
    padding: 2px 4px;
    font-size: 17px;
    color: #ed4190;
    background-color: #ffffff80;
    border-radius: 4px;
}
nav > a:hover{
    color: #0000004d;
    background-color: #ed4190;
    box-shadow: 3px;
}
.fa-search{
    color: #fff;
    padding: 4px;
    max-width: 30px;
    background-color: #cddc39;
}
.fa-shopping-cart{
    color: #ed4190;
    padding: 4px;
    max-width: 30px;
    background-color: #cddc39;
}
/*..............main style...............*/
main{
    grid-area: main-cell;
    display: grid;
    border: 1px #cc7c8c;
    border-radius: 5px;
    padding: 0px 5px;
}

aside{
    grid-area: aside;
    margin: 2px;
    padding: 5px;
    size: 1fr;
}

article{
    grid-area: article;
    size:3fr;
}
#homemain{
    grid-template-areas: "aside" "article" "aside";
}
/*CHIEN_REGION - grid layout - trang san pham*/
/*order: section -> h1, div -> ul -> h1, p, span*/

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #ed4190;
}

.span_product{
    display: block;
    margin: 4px;
    padding: 3px;
    color: black;
    text-align: center;
    width: 100%;
    line-height: 2em;
}

#product_h1{
    color: #ed4190;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 15% 100%;
    background-position: center;
    background-image: linear-gradient(to top, #cddc39 0%,#fff 10%);
}

/* Display in each div */
#div_product {
    display: flex;
    flex: 1;
    height: fit-content;
    flex-direction: column;
    margin: 3px;
    border: 1px solid #dbd7d9;
    border-radius: 1%;
    color: #ed4190;
    background-image: linear-gradient(to top,  #cddc39 0%,#fff 10% );
    text-align: center;
}

div>img{
    display: block;
    margin: auto;
    flex-shrink: 0;
    flex-basis: 50%;
    justify-content: flex-start;
}
div>h2{
    flex-shrink: 0;
    flex-basis: 5%;
}

div>p{
    font-size: 18px; /* Để giống với hướng dẫn nhất có thể*/
    flex-shrink:0; /* Để co lại theo yêu cầu thui*/
    flex-basis: 20%; /*130px là để tag p của các div căn đều nhau*/
    text-align: justify;
    margin: auto;
    padding: 0 5px;   
    color: black;
}
/* END_CHIEN_REGION */

/*.............footer style...............*/
footer{
    grid-area: footer-cell;
    margin-top: 2px ;
    border-radius: 5px;
    border: 1px #cc7c8c;
    padding: 50px 5px;

    display: flex;
    justify-content: flex-start;
    position: relative;
}
.center-footer {
    flex: 0 1 auto;
    position: absolute;
    /* new */
    left: 50%;
    transform: translateX(-50%);
}
.on-top{
    padding: 10px;
    color: #ed4190;
    background-image: url("./TH_B2_Data/top.png");
    /*change bg size*/
    background-size: 80px;
    width: 61px;
    height: 61px;
    z-index: 100;

    flex: 0 1 auto;
    margin-left: auto;
}
.fa-facebook{
    color: #ed4190;
}
.fa-twitter{
    color: #ed4190;
}
.fa-pinterest{
    color: #ed4190;
}
